<main class="container">
  <div class="header">
    <h1>Members</h1>
    <%= link_to "Create a New Member(manager/technician)",
                new_users_user_path,
                class: "btn btn--primary" %>
  </div>
  <div class="body">
  	<% if @users.any? %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>email</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No results to display :(</p>
    <% end %>
  </div>
</main>
