<div class="card mb-3">
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-9 mb-0 text-nowrap py-2 py-xl-0">Notifications</h5>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive scrollbar">
      <table class="table table-sm table-striped fs-10 mb-4 overflow-hidden">
        <thead class="bg-200">
          <tr>
            <th class="no-sort" width="10%">ID</th>
            <th class="no-sort" width="20%">To</th>
            <th class="no-sort">Message</th>
          </tr>
        </thead>
        <tbody class="list">
          <%- @notifications.each do |notification| %>
            <tr class="btn-reveal-trigger" id="inotifications_<%=notification.id%>">
              <td class="py-2 align-middle white-space-nowrap">
                <strong>#<%= notification.id %></strong>
              </td>
              <td class="py-2 align-middle white-space-nowrap"><%= notification.admin_user.name %></td>
              <td class="date py-2 align-middle"><%= notification.notification_body %></td>
            </tr>
          <%- end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
