<footer class="footer">
  <div class="row g-0 justify-content-between fs-10 mt-4 mb-3">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-600">Thank you for creating with AventumX <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> <%= Time.now.strftime('%Y')%> &copy; <a href="https://www.aventumax.com/">AventumX</a></p>
    </div>
  </div>
</footer>
